<ion-view class="slider-view">
    <ion-nav-title> <span>Archive Trip Lists</span> </ion-nav-title>
    
 
    <ion-content>
        <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
       
      <ion-list>
  <ion-item ng-repeat="trip in trips track by $index" class="item-icon-right" href="#/app/trip/{{trip.ID}}">
    <h2>From : <span ng-if="trip.Slocation" ng-bind="trip.Slocation + ','"></span><span ng-bind="trip.Scity + ','"></span><span ng-bind="trip.Sstate"></span><br>To: <span ng-if="trip.Elocation" ng-bind="trip.Elocation + ','"></span><span ng-bind="trip.Ecity + ','"></span><span ng-bind="trip.Estate"></span></h2><br>
                <p>Material type: <span ng-bind="trip.material"></span></p>
                <p>Truck type: <span ng-bind="trip.Vtype"></span></p>
                <p>Truck Capacity: <span ng-bind="trip.Vcapacity"></span></p>
                <p>Reporting Time: <span ng-bind="trip.reportingDate | date:'dd/MM/yyyy, h:mm a'"></span></p>
                <i class="icon ion-ios-arrow-forward"></i>
  </ion-item>
</ion-list>        
    </ion-content>
</ion-view>
