<ion-view view-title="Search Trip">
  <ion-content>
       <label class="item item-input item-select">
    <div class="input-label">
      Search By :
    </div>
        <select ng-model="searchby">
          <option value="both" selected>both location</option>
          <option value="from">Start location</option>
          <option value="to">End location</option>
        </select>
      </label>
    <form name="searchtripForm" ng-submit="searchTrip(searchtripForm,searchby)" novalidate>
         <div class="item"  ng-if="searchby != 'to'"><h3 class="positive">Starting Location</h3></div>
                	<label ng-if="searchby != 'to'" class="item item-input item-select" ng-class="{'has-errors' : searchtripForm.Sstate.$invalid && (searchtripForm.Sstate.$dirty || searchtripForm.$submitted), 'no-errors' : searchtripForm.Sstate.$valid}" >
                        <span class="input-label">
                          State*:
                        </span>
                        <select ng-model="searchtripField.Sstate" name="Sstate" required>
                        <option ng-selected="true" value="">Select States</option>
                        <option ng-repeat="option in states track by $index" value="{{$index}}">{{option}}</option>
                        </select>
                     </label>
                     
                    <label  ng-if="searchby != 'to'" class="item item-input item-select" ng-class="{'has-errors' : searchtripForm.Scity.$invalid && (searchtripForm.Scity.$dirty || searchtripForm.$submitted), 'no-errors' : searchtripForm.Scity.$valid}">
                        <span class="input-label">
                          City*:
                        </span>
                        <select ng-disabled="!searchtripField.Sstate" name="Scity" ng-model="searchtripField.Scity" required>
                          <option ng-selected="true" value="">Select City</option>
                        <option ng-repeat="option in cities[searchtripField.Sstate]" value="{{option}}">{{option}}</option>
                        </select>
                     </label>
                     
                    <label ng-if="searchby != 'to'" class="item item-input">
                        <span class="input-label">
                          location:
                        </span>
                       <input type="text" name="type" name="Slocation" ng-model="searchtripField.Slocation"  >
                     </label>
                
                <!-- End Trip -->
                 <div class="item" ng-if="searchby != 'from'" ><h3 class="positive">End Location</h3></div>
                	<label ng-if="searchby != 'from'"  class="item item-input item-select" ng-class="{'has-errors' : searchtripForm.Estate.$invalid && (searchtripForm.Estate.$dirty || searchtripForm.$submitted), 'no-errors' : searchtripForm.Estate.$valid}" >
                        <span class="input-label">
                          State*:
                        </span>
                        <select ng-model="searchtripField.Estate" name="Estate" required>
                         <option ng-selected="from" value="">Select States</option>
                        <option ng-repeat="option in states track by $index" value="{{$index}}">{{option}}</option>
                        </select>
                     </label>
                     
                    <label ng-if="searchby != 'from'"  class="item item-input item-select" ng-class="{'has-errors' : searchtripForm.Ecity.$invalid && (searchtripForm.Ecity.$dirty || searchtripForm.$submitted), 'no-errors' : searchtripForm.Ecity.$valid}">
                        <span class="input-label">
                          City*:
                        </span>
                        <select ng-disabled="!searchtripField.Estate" name="Ecity" ng-model="searchtripField.Ecity" required>
                           <option ng-selected="true" value="">Select City</option>
                        <option ng-repeat="option in cities[searchtripField.Estate]" value="{{option}}">{{option}}</option>
                        </select>
                     </label>
                     
                    <label ng-if="searchby != 'from'"  class="item item-input ">
                            <span class="input-label">
                              Location:
                            </span>
                            <input type="text" name="type" name="Elocation" ng-model="searchtripField.Elocation" >
                    </label>
        <button class="button button-full button-positive" ng-disabled="!searchtripForm.$valid" type="submit">Submit</button>
        
        </form>
  </ion-content>
</ion-view>