<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Add Trip</h1>
        <buttons side="right">
            <a class="button button-icon button-clear ion-android-close" ng-click="closeModal()"> </a>
        </buttons>

    </ion-header-bar>
    <ion-content class="tripform">
        <form name="tripForm" ng-submit="addTrip(tripForm)" novalidate>
    
            <div class="list">
				<!-- Starting Trip -->
               <div class="item"><h3 class="positive">Starting Location</h3></div>
                
                	<label class="item item-input item-select" ng-class="{'has-errors' : tripForm.Sstate.$invalid && (tripForm.Sstate.$dirty || tripForm.$submitted), 'no-errors' : tripForm.Sstate.$valid}" >
                        <span class="input-label">
                          State*:
                        </span>
                        <select ng-model="tripField.Sstate" name="Sstate" required>
                        <option ng-selected="true" value="">Select States</option>
                        <option ng-repeat="option in states track by $index" value="{{$index}}">{{option}}</option>
                        </select>
                     </label>
                     
                    <label class="item item-input item-select" ng-class="{'has-errors' : tripForm.Scity.$invalid && (tripForm.Scity.$dirty || tripForm.$submitted), 'no-errors' : tripForm.Scity.$valid}">
                        <span class="input-label">
                          City*:
                        </span>
                        <select ng-disabled="!tripField.Sstate" name="Scity" ng-model="tripField.Scity" required>
                          <option ng-selected="true" value="">Select City</option>
                        <option ng-repeat="option in cities[tripField.Sstate]" value="{{option}}">{{option}}</option>
                        </select>
                     </label>
                     
                    <label class="item item-input">
                        <span class="input-label">
                          location:
                        </span>
                       <input type="text" name="type" name="Slocation" ng-model="tripField.Slocation"  >
                     </label>
                
                <!-- End Trip -->
                 <div class="item"><h3 class="positive">End Location</h3></div>
                	<label class="item item-input item-select" ng-class="{'has-errors' : tripForm.Estate.$invalid && (tripForm.Estate.$dirty || tripForm.$submitted), 'no-errors' : tripForm.Estate.$valid}" >
                        <span class="input-label">
                          State*:
                        </span>
                        <select ng-model="tripField.Estate" name="Estate" required>
                         <option ng-selected="true" value="">Select States</option>
                        <option ng-repeat="option in states track by $index" value="{{$index}}">{{option}}</option>
                        </select>
                     </label>
                     
                    <label class="item item-input item-select" ng-class="{'has-errors' : tripForm.Ecity.$invalid && (tripForm.Ecity.$dirty || tripForm.$submitted), 'no-errors' : tripForm.Ecity.$valid}">
                        <span class="input-label">
                          City*:
                        </span>
                        <select ng-disabled="!tripField.Estate" name="Ecity" ng-model="tripField.Ecity" required>
                           <option ng-selected="true" value="">Select City</option>
                        <option ng-repeat="option in cities[tripField.Estate]" value="{{option}}">{{option}}</option>
                        </select>
                     </label>
                     
                    <label class="item item-input ">
                            <span class="input-label">
                              Location:
                            </span>
                            <input type="text" name="type" name="Elocation" ng-model="tripField.Elocation" >
                         </label>
                        <div class="item"><h3 class="positive">Other Detail</h3></div>  
                <!-- Type of Vehicle -->
                <label class="item item-input item-select" ng-class="{'has-errors' : tripForm.Vtype.$invalid && (tripForm.Vtype.$dirty || tripForm.$submitted), 'no-errors' : tripForm.Vtype.$valid}">
                        <span class="input-label">
                        Type*:
                        </span>
                        <select name="Vtype" ng-model="tripField.Vtype" required>
                          <option value="" selected="">Select Type</option>   
                          <option value="truck" >Truck</option>
                          <option value="tanker"  >Tanker</option>
                          <option value="trailer" >Trailer</option>
                          <option value="geonosis" >Geonosis </option>
                          <option value="refrigerated" >Refrigerated</option>
                          <option value="other" >Other</option>
                        </select>
                </label>
                
                <!-- Capacity -->
                <label class="item item-input" ng-class="{'has-errors' : tripForm.Vcapacity.$invalid && (tripForm.Vcapacity.$dirty || tripForm.$submitted), 'no-errors' : tripForm.Vcapacity.$valid}">
                    <span class="input-label">Capacity*:</span>
                    <input type="text" name="Vcapacity" ng-model="tripField.Vcapacity"  required>
                </label>
                
                <!-- Number of Vehicle Required -->
                <label class="item item-input" ng-class="{'has-errors' : tripForm.Vqty.$invalid && (tripForm.Vqty.$dirty || tripForm.$submitted), 'no-errors' : tripForm.Vqty.$valid}">
                       <span class="input-label">Number of Vehicle*: </span>
                 <input type="text"  name="Vqty" ng-model="tripField.Vqty" required>
                </label>
                
                <!-- Material Details-->
                <label class="item item-input" ng-class="{'has-errors' : tripForm.material.$invalid && (tripForm.material.$dirty || tripForm.$submitted), 'no-errors' : tripForm.material.$valid}">
                    <span class="input-label">Material Details*: </span>
                    <input type="text"  name="material" ng-model="tripField.material"  required>
                </label>
                
                <!-- Reporting Date -->
                <label class="item item-input" ng-class="{'has-errors' : tripForm.reportingDate.$invalid && (tripForm.reportingDate.$dirty || tripForm.$submitted), 'no-errors' : tripForm.reportingDate.$valid}" ng-click="openDatePicker()">
                    <span class="input-label">Reporting Date*: </span>
                    <input type="text"  name="reportingDate" ng-model="tripField.reportingDate" required>
                </label>
                
                
                <!-- Loading and unloading Charges Paid by  -->
                
                <label class="item item-input item-select">
                 		<span class="input-label">
                          L/U Charges :
                        </span>
                        <select  name="luCharge" ng-model="tripField.luCharge">
                          <option value="">Paid by</option>
                          <option value="transporter">Transporter</option>
                          <option value="party">Party</option>
                        </select>
                </label>
                
                
                
                <!-- Material  Insurance  -->
                <label class="item item-input item-select">
                 		<span class="input-label">
                        Insurance:  
                        </span>
                        <select  name="insurance" ng-model="tripField.insurance">
                          <option class="">Paid by</option>
                          <option class="transporter">Transporter</option>
                          <option  class="party">Party</option>
                        </select>
                </label>
                
                <!-- Service Tax Paid by  -->
                <label class="item item-input item-select">
                 		<span class="input-label">
                          Service Tax:
                        </span>
                        <select name="Stax" ng-model="tripField.Stax">
                          <option class="">Paid by</option>
                           <option value="transporter">Transporter</option>
                          <option value="party">Party</option>
                        </select>
                </label>
                
                <!-- Payment Condition-->
                <label class="item item-input ">
                 		<span class="input-label">
                          Payment Condition:
                        </span>
                        <input type="text" name="PayCondition" ng-model="tripField.PayCondition" >
                </label>
                
                <!-- Agent Commission-->
                <label class="item item-input ">
                 		<span class="input-label">
                          Agent Commission:
                        </span>                       
						<input type="text" name="Acommission" ng-model="tripField.Acommission" >                        
                </label>
                
                <p class="assertive padding" ng-show="tripForm.$submitted && !tripForm.$valid">Please fill required feilds</p>
                <button class="button button-full button-positive" type="submit">
                    Submit
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
