<ion-view class="walkthrough-view" cache-view="false">
    <ion-content scroll="false">
       <div class="walkthrough-content">
        <div class="top-content row">
            <div class="col col-center"> <img ng-src="img/logo.png"> </div>
        </div>
        <div class="bottom-content row">
            <div class="col col-center">
                <a class="login button button-block button-stable button-positive" ui-sref="auth.login">        Log In      </a>
                <a class="sign-up button button-block button-stable button-calm" ui-sref="auth.signup">        Sign Up      </a> </div>
        </div>
        </div>
    </ion-content>
</ion-view>
